<div class="container">
  <div class="row">
    <div class="title">
      <div class="col-dmd-4">
        <h1>Welcome to {{ title }} </h1>
        <p>A fun place to write things and keep a trace you stay <b>alive!</b><br>
        The base of the project was to <a href="https://Asthriona.com">Asthriona</a> keep a real trace of sleeping, and know when he sleept for 24h.<br>
        This project is open to anyone whan to keep note of his life or use it as you wish you can do lot of stuff with this! :D (but only good things. dont be evil! D:<) <br>
        </p>
      </div>
    </div>
  </div>
</div>